body {
  font-family: Arial;
  text-align: center;
  background-color: #f2f2f2;
}

input, textarea {
  width: 250px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
}
